{% extends 'base.html' %}

{% block title %}Piedmont Learning Commons | A Free Community Approach To Class{% endblock %}

{% block content %}
<div id="content">
<div class="grid">
	<div class="col-2-3">
		 <div id="intro-text">
				<strong>Learning is everywhere. Discover debt-free sources of learning in our community.</strong>
				</div>
		<div class="rounded-box">
			<h2>Find a Local Learning Opportunity</h2>
			<strong>
			<div class="class-listing">
				<div class="class-nextdate">
					Date
				</div>
				<div class="class-name">
					Learning
				</div>
				<div class="class-format">
					Format
				</div>
				
				<div class="class-isfree">
					Free?
				</div>
				
			</div>
			</strong> 
			<br>
			
			{% for class in classes %}
			<div class="class-listing">
				<div class="class-nextdate">
					{{ class.classnextdate|date:"M d" }}
				</div>
				<div class="class-name">
					<a href='viewlearning/{{ class.classurl }}'>{{ class }}</a>
				</div>
				<div class="class-format">
					{{ class.get_classformat_display }}
				</div>
				
				<div class="class-isfree">
					{{ class.classisfree }}
				</div>
				
			</div>
			<br/>
			{% endfor %}
			<div id="search-and-see-all">
				<div id="search-area">
					<strong>Search for a class:</strong>
					<br/>
					{% if errors %}
					{% for error in errors %}
					<br/>
					{{ error }}
					{% endfor %}
					<br/>
					{% endif %}
					{% include 'includes/search.html' %}
				</div>
				<div id="see-all"><br/>
					<a href='/view-all/'>See all classes</a>.
				</div>
			</div>
		</div>
		<div id="teach-area" class="rounded-box">
			<h2>Teach or Learn Together</h2>
			<p>Have a skill or subject you’d love to share with your community? 
			</b><br><a href="submitlearning/">Add your local Learning</a>
			</p>
	        <p>Not sure what to teach?<br>  How about a seminar on <strong>{{ suggestion }}</strong>.</p>
		</div>
		<div id="about" class="clear-box col-2-3">
			<h2>What is a Learning Commons?</h2>
			<p>
				Dozens of workshops are taught in your community each year.  Book clubs and discussion groups; crafters and gardeners; the retired professor who you always see at the grocery store.  Online, a simple search can turn up free online courses, video tutorials and DIY blog posts, open journal articles.  Learning is in abundance.
			</p>
			<p>
				A commitment to lifelong learning shouldn't have to mean a trap door to debt.  In the US, student loan debt is now greater than credit card debt, even as jobs disappear and transform rapidly enough to render too many degrees obselete.
			</p>
		</div>
		<div id="likely-never-see" class="rounded-box col-1-3">
			<h3>In a Learning Commons...</h3>
			<div id="likely-see">
				<strong>...you'll often see:</strong>
				<br/>
				<em>{{ likely }}</em>
				<br/>
				<br/>
			</div>
			<div id="never-see">
				<strong>...you'll never see:</strong>
				<br/>
				<em>{{ never }}</em>
				<br/>
				<br/>
				(see all)
				<br/>
			</div>
		</div>
	</div>
	<div class="col-1-3">
		<div id="sidebar">
		<div id="partners" class="rounded-box">
			<strong>Partners</strong>
			<br/>
			Carrboro Greenspace
			<br/>
			Splatspace
			<br/>
			Communecos
			<br/>
			The Abundance Foundation
			<br/>
			Seeds NC
			<br/>
		</div>

		<div id="nav" class="rounded-box">
			<strong>The Saloon - A local Pub</strong>
			<br/>
			An Open Academic Community Journal
			<br/>
			<br/>
			<strong>Who, Why, Wut?</strong>
			<br/>
			Who runs this conspiracy?
			<br/>
			<br/>
			<strong>Taking Back the Commons</strong>
			<br/>
			Not everything needs a price.</br>
			<br/>
			<strong>The LC Bloggy Blog</strong>
			<br/>
			Stories of debt, discovery, and getting schooled.
			<br/>
		</div>
		
		<div id="learning-icons" class="rounded-box">
			<strong>Find Learnings For:</strong><br/>
			Kids and families<br/>
			Building career skills<br/>
			Cultivating mind and spirit<br/>
			Learning outdoors<br/>
			Earning certificates or Radians<br/>
			Helping the community<br/>
			Helping a non-profit<br/>
			Increasing self-reliance<br/>
		</div>
		<div id="digital-commons" class="rounded-box">
			<h3>Digital Commons</h3>
			Videos, Documents, Blogs, and Podcasts generated by Local Learning
			<br/>
			<br/>
			Learning Commons Youtube Channel
			<br/>
		</div>
		<div id="feed">
			<h3>The Ubiquitous Stream</h3>
		</div>
		</div>
	</div>
	</div>

</div>
{% endblock %}