{% extends 'base.html' %}
{% block title %}List Your Workshop, Discussion Group, or Class | Piedmont Learning Commons{% endblock %}
{% block content %}	
	<div id="main-fullwidth">
	{% if user.is_authenticated %}
		{% if form.errors %}
	        <p style="color: red;">
	            Please correct the error{{ form.errors|pluralize }} below.
	        </p>
	    {% endif %}
	    <form action="" method="post">
	    	{% csrf_token %}
	        <table>
	            {{ form.as_table }}
	        </table>
	        <input type="submit" value="Submit">
	    </form>
	{% else %}
		{{ errors }}
		Log in to submit a class or <a href="/register">Register</a> for a new account.
		<form action="" method="post">
			{% csrf_token %}
			<table>
				{{ loginform.as_table }}
			</table>
			<input type="submit" value="Submit">
			
		</form>
	{% endif %}
    </div>
{% endblock %}