{% extends 'base.html' %}

{% block title %}View All Local Classes | PLC{% endblock %}

{% block content %}
<div id="main-fullwidth" class="rounded-box">
			<div class="class-listing">
				<strong>
				<div class="class-name">
					Learning Name
				</div>
				<div class="class-subject">
					Subject
				</div>
				<div class="class-format">
					Type
				</div>
				<div class="class-nextdate">
					Date
				</div>
				<div class="class-isfree">
					Free?
				</div>
				</strong>
			</div> </strong>
			{% for class in classes %}
			<div class="class-listing">
				<div class="class-name">
					<a href='../viewlearning/{{ class.classurl }}'>{{ class }}</a>
				</div>
				<div class="class-subject">
					{{ class.classsubject }}
				</div>
				<div class="class-format">
					{{ class.get_classformat_display }}
				</div>
				<div class="class-nextdate">
					{{ class.classnextdate|date:"M d" }}
				</div>
				<div class="class-isfree">
					{{ class.classisfree }}
				</div>
			</div>
			<br/>
			{% endfor %}
{% endblock %}
</div>