body {
	background: rgb(50,182,131);
	font-family: 'Noto Sans', sans-serif;
	color: #495148;
	font-size: .9em;
}
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background: #f3c553;
	min-height: 950px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

#header {
	width: 100%;
	height: 155px;
}

#logo {
	width: 100%;
}

#footer {
	clear: both;
	width: 100%;
	padding: 20px;
}

#intro-text {
	font-size: 1.2em;
	background: #71c199;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#main {
	margin-left: 20px;
	margin-right: 20px;
}

#main-fullwidth {
	margin:20px;
}

#learn-area {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #cC9F2C;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	background: #fCcF5C;
}

#teach-area {

	background: #fCcF5C;
	width: 648px;
	float: left;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #cC9F2C;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-bottom: 10px;
}

#search-area {
	margin-top: 10px;
}

#about {
	font-size: .9em;
	clear: both;
	width: 383px;
	float: left;
}

#likely-never-see {
	float: left;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #cC9F2C;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	background: #fCcF5C;
	padding-bottom: 10px;
}

/* sidebar blocks */

#sidebar {
	width: 250px;
	height: 600px;
	float: left;
	font-size: .9em;
	margin-left: 10px;
	margin-top: 20px;
}

#nav {
	margin-top: 10px;
	padding-left: 5px;
	margin-bottom:10px;
}

#digital-commons {
	height: 150px;
	padding-left: 5px;
}

#partners {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #cC9F2C;
	padding-left: 5px;
	background: #fCcF5C;
}
#learning-icons {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #cC9F2C;
	padding-left: 5px;
	background: #fCcF5C;
}

#feed {
	height: 100px;
	padding-left: 5px;
}

/* class listings */

.class-listing {
	width: 670px;
}

.class-name {
	width: 230px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.class-format {
	width: 100px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.class-host {
	width: 95px;
	padding-right: 5px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.class-isfree {
	width: 70px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.class-nextdate {
	width: 90px;
	float: left;
}

.class-numusers {
	width: 50px;
	float: left;
}

.class-subject {
	width: 120px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.classes-listing {
	width: 655px;
	margin-right: 5px;
	font-size: 0.9em;
	padding-bottom: 15px;
	float: left;
}

